body,
html {
    background-color: azure;
}

.principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 100px;
    margin-left: 5%;
    justify-content: space-evenly;
}

button {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: bisque;
    color: black;
}

.principal>div {
    width: fit-content;
    height: fit-content;
}

h1 {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: bold;
    background-color: bisque;
    padding: 40px;
}