button {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  border: 0px;
  text-align: center;
  width: 200px;
  height: 40px;
  background-color: bisque;
  color: black;
}

.boton2{
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  border: 0px;
  text-align: center;
  width: 200px;
  height: 60px;
  background-color: bisque;
}

body {
  background-color: azure;
}

h1 {
  color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: bold;
  background-color: bisque;
  padding: 40px;
}

h2 {
  color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color:#fad6a5;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: azure;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  color: black;
}

li a:hover {
  background-color: #FE92DF;
}

ul {
  width: 20%;
  float: right;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Set a style for the submit/login button */

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
  background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.msj {
  color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  background-color: bisque;
  padding: 10px;
  height: 170px;
  width: 170px;
  text-align: justify;
}
